.productCard {
  width: 15vw;
  height: 35vh;
  background: #FFFFFF;
  border-radius: 50px;
  margin: 8px 15px;
  padding: 15px 25px;

  &__imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    &-image {
      width: 75%;
      height: 75%;
    }
  }

  &__infoWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    &__priceAndButton {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;

      &-button {
        cursor: pointer;
        padding: 3px;
        border-radius: 5px;
        background: #FFCC26;
        color: #FFFFFF;

        &:hover {
          background: darken(#FFCC26, 10);
        }
      }
    }
  }
}