@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100;200;300;600&display=swap');

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 99%;
  padding: 0 9.5px;
  height: 10vh;
  background: #FFCC26;


  &-text {
    font-family: "Anek Telugu", serif;
    font-weight: 600;
    font-size: 1.8rem;
  }
}